
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand h1 { /* Food, LLC name */
  color: black;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0;
  margin-bottom: 0;
}
#nav-list a {
  color: #951C49;
  text-align: center;

}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list li:first-child {
  border-top: 0.5px solid #61122f;
}
#nav-list li{
  border-bottom: 0.5px  solid #61122f;
  background: #FFCC66;
}
#collapsable-nav {
    border:none;
}
#collapsable-nav a { /* Collapsed nav menu text */
  font-size: 1.2em;

}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.food {
  background-color: #FFCC66;
  margin: 0 auto 15px;
}
.title {
  color: black;
  font-family: Helvetica;
  font-style: italic;
  font-size: 130%;
}
body {
  background-color: #F7D358;
}

h1 {
  font-family: Helvetica;
  font-size: 155%;
  color: black;
}
